html {
    font-size: 16px;
}

/**** Base Styles ****/

body {
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

p {
    font-size: 1em;
}

ul li {
    display: inline;
}

li {
    list-style: none;
}

a {
    color:sandybrown;
  }

/* Header */

header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.header-title {
    width: 50%;
    margin: auto;
}

.header-nav {
    width: 50%;
    word-spacing: 15px;
    margin: auto;
}

.header ul {
    
}

.header li {

}

header h1 {
    color: skyblue;
    font-size: 2em;
}

header h3 {
    color: white;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

/* Banner Image */ 

.banner {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.banner img {
    width: 80%;
}

/* About */

.about {
    margin-top: 30px;
    margin-bottom: 100px;
    width: 60%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
}

.about-img {
    width: 50%;
}

.about img {
    width: 50%;
    border-radius: 50%;
}

.about-text {

}

.about p {
    font-family:'Courier New', Courier, monospace;
}

/* Work */

.work {
    margin-top: 30px;
    margin-bottom: 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.work-sample {
    margin: auto;
    width: 30%;
}

/* Contact */

.contact {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row wrap;
}

.contact-img {
    width: 50%;
}

.contact-text {
    width: 50%;
}

.contact img {
    width: 80%;
}

/* Responsive Styles */

/* Tablet */

/* Desktop */

